.container {
  max-width: calc(100% - 100px);
  margin: 10px auto auto auto;
  padding: 30px 40px;
  background-color: black;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
}

.sub-container {
  max-width: 2000rem;
  margin: 10px auto auto auto;
  padding: 30px 40px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  border: 1px solid red;
}
